.selected-performance{
    border: 0.2rem solid #1338ee;
}


.left-container-submission {
    background-color: #f5f5f5;
    padding: 1rem;
    border: 1px solid #ddd;
    width: 30.3%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.middle-container-submission {
    background-color: #f5f5f5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-left: 2rem;
    overflow-wrap: break-word; /* Prevents text from extending beyond container */
    flex: 1;
    width: 30.3%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.right-container-submission {
    flex: 1;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-left: 2rem;
    width: 30.3%;
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.icon-button-grading {
    border: none;
    background: none;
    padding-right: 0.5rem;
    cursor: pointer;
}

.custom-table {
    /* Example styling for the table */
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

.custom-table th, .custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.custom-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

.custom-table .selected-performance {
    /* Example styling for selected performance level */
    background-color: rgba(0, 0, 162, 0.25);
}
